<div class="row">
    <div class="times">

        <button id="backBtn" type="button"><a href="/greeted">back</a></button>
        <p>Hello, {{this.name}} has been greeted {{counter}}</p>
    </div>
</div>